@import '../../variables.scss';

.projects-container {
  display: flex;
  flex-wrap: wrap;
  .project {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 100px 50px;
    border-radius: 5px;
    text-align: center;
    margin: 0 25px 25px 0;
    opacity: 1;
    top: 0;
    transition: opacity .35s, top .35s;
    &:hover,
    &:focus {
      opacity: .7;
      top: -20px;
    }
    img {
      height: 90px;
      width: 90px;
      margin-bottom: 20px;
    }
  }
}

.projects-container .project3, 
.projects-container .project6,
.projects-container .project7 {
  margin-right: 0;
}

.projects-container .project7,
.projects-container .project8 {
  margin-bottom: 0;
}

@media (max-width: 1220px) {
  .projects-container {
    width: 725px;
    margin: 0 auto 25px auto;
    .project2,
    .project3,
    .project4,
    .project7 {
      margin-right: 0;
    }
  }

  .projects-container .project3 {
    margin-right: 25px;
  }
}

@media (max-width: 800px) {
  .projects-container {
    width: 100%;
    justify-content: center;
    .project {
      width: 300px;
    }
  }
}

@media (max-width: 700px) {
  .projects-container .project {
    width: 350px;
    margin: 0 auto 50px auto;
  }

  .projects-container li:last-child .project {
    margin-bottom: 0;
  }
}

@media (max-width: 440px) {
  .projects-container {
    display: block;
  }
  .projects-container .project {
    width: 100%;
    max-width: 350px;
  }
}

.project h3 {
  font-size: 20px;
}

// project colors
.project6 {
  background-color: rgba(36, 41, 46, .3);
}

.project2 {
  background-color: rgba(204, 201, 220, .8);
}

.project1 {
  background-color: rgba(191, 211, 117, .6);
}

.project4 {
  background-color: rgba(175, 237, 255, .8);
}

.project5 {
  background-color: rgba(232, 91, 38, .3);
}

.project3 {
  background-color: rgba(251, 221, 221, 1);
}

.project7 {
  background-color: rgba(3, 105, 124, .4);
}

.project8 {
  background-color: rgba(6, 34, 136, .3);
}

.project-button-container {
  display: flex;
  justify-content: space-between;
}

.project-content {
  width: 600px;
  margin: 20px 0 50px 20px;
  h2 {
    margin-bottom: 20px;
  }
  p {
    margin: 20px 0;
  }
  h4 {
    margin-bottom: 20px;
    font-weight: 500;
  }
}

@media (max-width: 800px) {
  .project-content {
    width: 100%;
    margin: 20px 0 50px 0;
  }
}

.button-container {
  display: flex;
  align-items: center;
  a:first-child {
    margin-right: 10px;
  }
}

.button-back {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  padding: 0;
}

.button-mobile {
  display: none;
}

.button-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .button-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  
  .button-desktop {
    display: none;
  }
}

.mock-img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .individual-img-container:first-child {
    width: 60%;
    // display: inherit;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}

.mock-img-container .individual-img-container:last-child  {
  width: 35%;
  // display: inherit;
  img {
    width: 100%;
    border-radius: 5px;
  }
}

@media (max-width: 800px) {
  .mock-img-container {
    display: flex;
    flex-direction: column;
    .individual-img-container:first-child {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  .mock-img-container .individual-img-container:last-child {
    width: 80%;
  }
}

.project-content-1,
.project-content-2,
.project-content-3,
.project-content-4,
.project-content-5,
.project-content-6,
.project-content-7,
.project-content-8 {
  position: relative;
  display: inline-block;
}

.project-content-1::before {
  @include underlay;
  background-color: rgba(191, 211, 117, .1);
}


.project-content-2::before {
  @include underlay;
  background-color: rgba(204, 201, 220, .15);
}

.project-content-3::before {
  @include underlay;
  background-color: rgba(251, 221, 221, .15);
}

.project-content-4::before {
  @include underlay;
  background-color: rgba(190, 239, 254, .15)
}

.project-content-5::before {
  @include underlay;
  background-color: rgba(246, 203, 187, .15);
}

.project-content-6::before {
  @include underlay;
  background-color: rgba(36, 41, 46, .05);
}

.project-content-7::before {
  @include underlay;
  background-color: rgba(6, 34, 136, .05);
}

.project-content-8::before {
  @include underlay;
  background-color: rgba(153, 194, 201, .1);
}

@media (max-width: 440px) {
  .project-content-1::before,
  .project-content-2::before,
  .project-content-3::before,
  .project-content-4::before,
  .project-content-5::before,
  .project-content-6::before,
  .project-content-7::before,
  .project-content-8::before {
    width: calc(100% + 40px);

  }
}

.mock-img-container-1 img {
  background: linear-gradient(rgba(36, 41, 46, .05) 30%, rgba(36, 41, 46, .5));
}

.mock-img-container-2 img {
  background: linear-gradient(rgba(204, 201, 220, .15) 30%, rgba(204, 201, 220, 1));
}

.mock-img-container-3 img {
  background: linear-gradient(rgba(191, 211, 117, .1) 30%, rgba(191, 211, 117, .5));
}

.mock-img-container-4 img {
  background: linear-gradient(rgba(190, 239, 254, .15) 30%, rgba(190, 239, 254, 1));
}

.mock-img-container-5 img {
  background: linear-gradient(rgba(246, 203, 187, .15) 30%, rgba(246, 203, 187, 1));
}

.mock-img-container-6 img {
  background: linear-gradient(rgba(251, 221, 221, .15) 30%, rgba(251, 221, 221, 1));
}

.mock-img-container-7 img {
  background: linear-gradient(rgba(153, 194, 201, .1) 30%, rgba(153, 194, 201, 1));
}

.mock-img-container-8 img {
  background: linear-gradient(rgba(6, 34, 136, 0.05) 30%, rgba(6, 34, 136, .5));
}