.projects-container {
  display: flex;
  flex-wrap: wrap;
  .project {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    min-width: 350px;
    padding: 100px 50px;
    border-radius: 5px;
    text-align: center;
    margin: 0 25px 25px 0;
    opacity: 1;
    top: 0;
    transition: opacity .35s, top .35s;
    &:hover,
    &:focus {
      opacity: .7;
      top: -20px;
    }
    img {
      height: 90px;
      width: 90px;
      margin-bottom: 20px;
    }
  }
}

.projects-container .project3, .projects-container .project6 {
  margin-right: 0;
}

.projects-container .project7 {
  margin-bottom: 0;
}

.project h3 {
  font-size: 20px;
}

// project colors
.project1 {
  background-color: rgba(36, 41, 46, .3);
}

.project2 {
  background-color: rgba(204, 201, 220, .8);
}

.project3 {
  background-color: rgba(181, 200, 170);
}

.project4 {
  background-color: rgba(175, 237, 255, .8);
}

.project5 {
  background-color: rgba(232, 91, 38, .3);
}

.project6 {
  background-color: rgba(251, 221, 221, 1);
}

.project7 {
  background-color: rgba(3, 105, 124, .4);
}