@import '../../variables.scss';

.words-container {
  display: flex;
  a {
    position: relative;
    top: 0;
    width: 350px;
    border-radius: 5px;
    margin-right: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    opacity: 1;
    transition: opacity .35s, top .35s;
    &:hover,
    &:focus   {
      opacity: .7;
      top: -20px;
    }
    img {
      object-fit: cover;
      width: 350px;
      height: 300px;
      border-radius: 5px 5px 0 0;
    }
  }
}

@media (max-width: 1200px) {
  .words-container {
    width: 725px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    a:nth-child(2) {
      margin-right: 0;
    }
    a:last-child {
      margin: 25px 0 0 0;
    }
  }
}

@media (max-width: 800px) {
  .words-container {
    width: 100%;
    a {
      width: 300px;
      img {
        width: 300px;
      }
    }
  }
}

@media (max-width: 700px) {
  .words-container {
    a {
      width: 350px;
      img {
        width: 350px;
      }
    }
    a:first-child {
      margin: 0 0 50px 0;
    }
    a:last-child {
      margin: 50px 0 0 0;
    }
  }
}

@media (max-width: 440px) {
  .words-container {
    width: 100%;
    a {
      width: 100%;
      max-width: 350px;
      img {
        width: 100%;
        max-width: 350px;
      }
    }
  }
}

a:hover .date-icon-container svg,
a:focus .date-icon-container svg {
  color: $secondaryColor;
}

article {
  padding: 20px;
  h3 {
    display: flex;
    align-items: center;
    font-weight: 500;
    height: 43.0667px;
    margin-bottom: 20px;
  }
}

.date-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 20px;
  svg {
    font-size: 25px;
    transition: color .35s;
  }
}

.date-icon-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $quaternaryColor;
  height: 5px;
  border-radius: 5px; 
}