@import '../../variables';

.p-img-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .p-container {
    width: 600px;
    margin: 25px 0 0 30px;
    position: relative;
    p:first-child {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 1100px) {
  .p-img-container {
    flex-direction: column;
    align-items: center;
    .p-container {
      margin: 25px 0 100px 0;
    }
  }
}

@media (max-width: 700px) {
  .p-img-container .p-container {
    width: 100%;
  }
}

.p-container::before {
  @include underlay;
  background-color: $quinaryColor;
}

.img-container {
  position: relative;
  padding-top: 25px;
}

.button-container {
  display: flex;
  width: 40px;
  justify-content: space-between;
    li {
    border: 1px solid $quaternaryColor;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: linear-gradient($quinaryColor 60%, rgba(84, 111, 129, 0.1));
  }
}

.toolbar p {
  margin-left: 60px;
  font-size: 10px;
  font-weight: 500;
}

.p-img-container img {
  position: relative;
  object-fit: cover;
  border-radius: 0 0 5px 5px;
  height: 400px;
  width: 300px;
}