@import '../../variables.scss';

.img-container {
  display: flex;
  justify-content: flex-end;
  img {
    height: 180px;
    width: 180px;
  }
}

@media (max-width: 440px) {
  .img-container img {
    height: 150px;
    width: 150px;
  }
}

.heading-container {
  margin-bottom: 100px;
  h1 {
    position: relative;
    color: $secondaryColor;
    display: inline-block;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: $secondaryFont;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  h3 {
    font-weight: 400;
  }
}

@media (max-width: 440px) {
  .heading-container h1 {
    font-size: 45px;
  }

  .heading-container h2 {
    font-size: 25px;
  }
}

h1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 100%;
  background: $quaternaryColor;
  height: 10px;
  border-radius: 5px;
}

@media (max-width: 440px) {
  h1::after {
    bottom: 3px;
  }
}

.location-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  svg {
    font-size: 25px;
    margin-right: 10px;
    color: $secondaryColor;
  }
  h3 {
    font-size: 18px;
  }
}

header nav ul {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  width: 300px;
  margin-bottom: 50px;
  li a {
    transition: color .35s;
    &:hover,
    &:focus {
      color: $secondaryColor;
    }
  }
}

@media (max-width: 440px) {
  header nav ul {
    margin: 0 auto 50px;
  }
}

.active {
  color: $secondaryColor;
}