@import '../../variables.scss';

.img-container {
  display: flex;
  justify-content: flex-end;
  img {
    height: 180px;
    width: 180px;
  }
}

.heading-container {
  margin-bottom: 100px;
  h1 {
    position: relative;
    color: $secondaryColor;
    display: inline-block;
    font-size: 60px;
    font-weight: 700;
    // +5px for ::after element
    margin-bottom: 25px;
  }
  h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

h1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  background: $primaryColor;
  height: 5px;
  border-radius: 5px;
}

.location-container {
  display: flex;
  align-items: center;
  svg {
    font-size: 25px;
    margin-right: 10px;
    color: $secondaryColor;
  }
  h3 {
    font-weight: 600;
    
  }
}

header nav ul {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  width: 400px;
  margin-bottom: 50px;
  li a {
    transition: color .35s;
    &:hover,
    &:focus,
    &:active {
      color: $secondaryColor;
    }
  }
}

