@import '../../variables.scss';

footer {
  background: $primaryColor;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icons-ul {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $tertiaryColor;
    width: 200px;
    li {
      height: 25px;
      width: 25px;
      a {
        height: 25px;
        width: 25px;
        display: inline-block;
        transition: color .35s;
        &:hover,
        &:focus {
          color: $secondaryColor;
        }
      }
    }
  }
}

.footer-container img {
  height: 130px;
  width: 130px;
}

.copyright-img-container {
  display: flex;
  align-items: flex-end;
  color: $tertiaryColor;
  .copyright-container {
    display: flex;
    flex-direction: column;
    font-style: italic;
    margin-right: 10px;
    margin-bottom: 37px;
    a {
      color: $secondaryColor;
      text-decoration: underline;
      transition: color .35s;
      &:hover,
      &:focus {
        color: $tertiaryColor;
      }
    }
  }
}