@import '../../variables.scss';

footer {
  background: $primaryColor;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icons-ul {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $tertiaryColor;
    width: 200px;
    li {
      height: 25px;
      width: 25px;
      a {
        height: 25px;
        width: 25px;
        display: inline-block;
        transition: color .35s;
        &:hover,
        &:focus {
          color: $secondaryColor;
        }
      }
    }
  }
}

.footer-container img {
  height: 180px;
  width: 180px;
}