// google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

// colors
$primaryColor: #272727;
$secondaryColor: #546F81;
$tertiaryColor: #fcfcfc;
$quaternaryColor: rgba(84, 111, 129, .2);
$quinaryColor: rgba(84, 111, 129, .05);

// fonts
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Roboto Slab', serif;

// mixins

@mixin underlay {
  content: '';
  position: absolute;
  top: -25px;
  left: -30px;
  border-radius: 5px;
  height: 100px;
  width: 100%;
}