// google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

// colors
$primaryColor: #272727;
$secondaryColor: #758f6d;
$tertiaryColor: #fcfcfc;
$quaternaryColor: rgba(117, 143, 109, .2);
$quinaryColor: rgba(117, 143, 109, .05);
// fonts
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Roboto Slab', serif;

// mixins
@mixin underlay {
  content: '';
  position: absolute;
  top: -25px;
  left: -30px;
  border-radius: 5px;
  height: 100px;
  width: 100%;
}