// google fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&display=swap');

// colors
$primaryColor: #272727;
$secondaryColor: #546F81;
$tertiaryColor: #fcfcfc;

// fonts
$primaryFont: 'Nunito', sans-serif;